@use 'sass:math';

:root {
  --color-primary: rgb(25, 113, 245);
  --color-primary-500: rgba(21, 105, 232, 0.12);
  --color-yellow: #f8a362;
  --color-yellow-500: rgba(248, 163, 98, 0.2);
  --color-text: #000;
  --color-muted: #ccc;
  --color-muted-500: #f8f8f8;
  --color-success: #2dff7d;
  --color-dark-grey: #626262;
}

html,
body {
  width: 100%;
  margin: 0;
  font-weight: 400;

  @media screen and (max-width: 374px) {
    font-size: 0.925em;
  }
}

body {
  // @include debugger();
  background-color: white;
  min-height: 100vh;
  color: $theme-tertiary;
  overflow-x: hidden !important;

  &.desktop.is-pc {
    &.custom-scroll-bar,
    .custom-scroll-bar {
      &::-webkit-scrollbar {
        width: 0.5rem !important;
      }

      &::-webkit-scrollbar-track {
        border-radius: 0.5rem;
      }

      &::-webkit-scrollbar-thumb {
        background: $theme-primary; //rgba($yellow-r - 25, $yellow-g - 25, $yellow-b - 25, 0.85);
        height: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}

* {
  font-family: Inter !important; //, 'Helvetica Neue', sans-serif !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.5em;
  color: inherit;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #0d2344; // $heading-default;
  font-family: Inter, sans-serif;
  margin: 1rem 0;
  display: block;
  font-weight: 600 !important;
  line-height: 1.25em;
}

$h1-size: 3em;
$fraction: 0.835;

@mixin h-sm($s: 1.8) {
  @media screen and (max-width: 991px) {
    font-size: 1em * $s;
    line-height: 1.4em;
  }

  margin: 0.9rem * $s 0;
}

.h1,
h1 {
  font-size: $h1-size;
  // font-weight: 600 !important;

  @include h-sm();
}

.h2,
h2 {
  font-size: $h1-size * math.pow($fraction, 2);
  // font-weight: 600 !important;

  @include h-sm(1.4);
}

.h3,
h3 {
  font-size: $h1-size * math.pow($fraction, 3);
  // font-weight: 600 !important;

  @include h-sm(1.2);
}

.h4,
h4 {
  font-size: $h1-size * math.pow($fraction, 4);
  // font-weight: 500 !important;

  @include h-sm(1.1);
}

.h5,
h5 {
  font-size: $h1-size * math.pow($fraction, 5);
  // font-weight: 500 !important;

  @include h-sm(1.05);
}

.h6,
h6 {
  font-size: $h1-size * math.pow($fraction, 6);
  // font-weight: 500 !important;

  @include h-sm(1.025);
}

a {
  color: $theme-primary-600;
  text-decoration: none;

  // &:not(.Button) {
  //   path {
  //     transition: 0.3s;
  //     stroke: $theme-primary;
  //   }
  // }

  &:hover,
  &:active,
  &:focus {
    color: $theme-primary-700;
    text-decoration: underline;

    // &:not(.Button) {
    //   path {
    //     stroke: $theme-yellow-800;
    //   }
    // }
  }
}

b,
strong {
  font-weight: 600;
}

p,
blockquote {
  max-width: 42em;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 992px) {
    max-width: 46em;
  }
}

blockquote {
  font-style: italic;
}

div[role='img'],
img,
iframe {
  max-width: 100% !important;
  vertical-align: middle;
  transition: transform 1s, opacity 1s;
  height: auto;
  // animation: fadeIn 1.5s;

  &[aria-hidden='true'],
  &[data-hidden='true'] {
    opacity: 0;
    // pointer-events: none;
  }

  &.with-frame {
    border: 0.25em solid rgba(25, 113, 245, 0.1);
    border-radius: $br * 1.5;
  }
}

a,
button,
input,
textarea {
  font-weight: normal;
  font-family: Inter, sans-serif;
  animation-fill-mode: both;
  transition-duration: 0.3s;

  &,
  &:focus {
    outline: none;
  }

  path {
    transition-duration: 0.3s;
    // stroke: unset;
  }
}

button,
input,
textarea {
  border-radius: $br * 0.9;
  max-width: 100%;
  min-height: 2rem;

  &[aria-hidden='true'] {
    pointer-events: none;
  }
}

input[type='text'],
input[type='password'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

[data-hidden='true'] {
  // opacity: 0;
  pointer-events: none;
}

.MuiInputBase-root {
  font-size: 1em;
}

.MuiPaper-elevation8 {
  box-shadow: 0 0.5em 2em rgb(0 0 0 / 10%);
}

.MuiIconButton-root {
  font-size: 1.125em;
}

[class~='col'],
[class*='col-'],
.container,
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
  position: relative;
}

.pointer-events-none {
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

button.no-shadow,
a.no-shadow,
.no-shadow {
  box-shadow: unset !important;
  text-shadow: unset !important;
}

.overflow-clip {
  overflow: hidden !important;
  overflow: clip !important;
}

.text-capitalize {
  text-transform: capitalize;
}

.container,
.container-sm {
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }
}

.container,
.container-md {
  @media screen and (min-width: 768px) {
    max-width: 730px;
  }
}

.container,
.container-lg {
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
}

.container,
.container-xl {
  @media screen and (min-width: 1200px) {
    max-width: 1035px;
  }
}

.container,
.container-xxl {
  @media screen and (min-width: 1400px) {
    max-width: 1250px;
  }
}

.shrink-max-width-xxl {
  @media screen and (min-width: 1400px) {
    max-width: 1035px;
  }
}

.theme-primary {
  color: $theme-primary !important;
}
.theme-primary-300 {
  color: $theme-primary-300 !important;
}
.theme-primary-100 {
  color: $theme-primary-100 !important;
}
.theme-primary-900 {
  color: $theme-primary-700 !important;
}
.theme-primary-700est {
  color: $theme-primary-900 !important;
}

.theme-yellow {
  color: $theme-yellow !important;
}
.theme-yellow-300 {
  color: $theme-yellow-300 !important;
}
.theme-yellow-100 {
  color: $theme-yellow-100 !important;
}
.theme-yellow-900 {
  color: $theme-yellow-700 !important;
}
.theme-yellow-700est {
  color: $theme-yellow-900 !important;
}

.theme-tertiary {
  color: $theme-tertiary !important;
}
.theme-tertiary-900 {
  color: $theme-tertiary-900 !important;
}
.theme-tertiary-700 {
  color: $theme-tertiary-700 !important;
}
.theme-tertiary-500 {
  color: $theme-tertiary-500 !important;
}
.theme-tertiary-300 {
  color: $theme-tertiary-300 !important;
}
.theme-tertiary-lighest {
  color: $theme-tertiary-100 !important;
}
.theme-white {
  color: white !important;
}

.theme-bg-primary-700est {
  background-color: $theme-primary-900;
}
.theme-bg-primary-900 {
  background-color: $theme-primary-700;
}
.theme-bg-primary {
  background-color: $theme-primary;
}
.theme-bg-primary-300 {
  background-color: $theme-primary-300;
}
.theme-bg-primary-100 {
  background-color: $theme-primary-100;
}

.theme-bg-yellow {
  background-color: $theme-yellow;
}

.theme-bg-tertiary-700est {
  background-color: $theme-tertiary-900;
}
.theme-bg-tertiary-900 {
  background-color: $theme-tertiary-700;
}
.theme-bg-tertiary {
  background-color: $theme-tertiary;
}
.theme-bg-tertiary-300 {
  background-color: $theme-tertiary-300;
}
.theme-bg-tertiary-100 {
  background-color: $theme-tertiary-100;
}
.theme-bg-white {
  background-color: white !important;
}

.before-or-after {
  @include before-or-after($bg: inherit, $br: inherit, $o: 0.9);
  backdrop-filter: blur(0.5rem);
}
