.Aside {
  $offset: 7.5em;

  max-height: calc(100vh - #{$offset + 1.25em});
  height: auto;
  position: sticky;
  overflow-y: auto;
  border-radius: 0.75em;
  animation-fill-mode: backwards;
  box-shadow: 0 0.75em 1.125em rgba($prim-r, $prim-g, $prim-b, 0.075);
  transition: 0.35s;

  div[class*='Card'] {
    height: 50em;
    box-shadow: unset;
  }

  @media screen and (min-width: 992px) {
    top: $offset;
  }
}

.nxtuiAdvert {
  border-bottom: 0.0625em solid $theme-tertiary-100;

  strong {
    margin-top: 0.75em;
    font-size: 1.625em;
  }

  span {
    letter-spacing: 0.125em;
  }

  span,
  small {
    color: $theme-tertiary-600;
  }
}

.projectActivitySection {
  i path {
    stroke: none;
    fill: $theme-tertiary-700;
  }
}

.projectActivityPie {
  $size: 12em;

  height: $size;
  width: $size;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba($prim-r, $prim-g, $prim-b, 0.075);
  border-radius: 50%;
  position: relative;
}

.innerCircle {
  $size: 57%;
  $offset: calc(calc(100% - #{$size}) / 2);

  height: $size;
  width: $size;
  border-radius: inherit;
  background-color: white;
  position: relative;
  top: $offset;
  left: $offset;
  box-shadow: 0 0.25em 1.125em rgba($prim-r, $prim-g, $prim-b, 0.25);
}
