.Card {
  border-radius: 0.75em;
  padding: 1.5em;
  padding-top: 0.75em;
  box-shadow: 0 0.75em 1.125em rgba($prim-r, $prim-g, $prim-b, 0.075);
  position: relative;
  overflow: hidden;
  background-color: white;

  h2 {
    font-size: 0.875em;
    font-weight: 500 !important;
  }
}

.moreButton {
  right: -1.125em;
}
